<h1>Oops! </h1>
<div class="col-1">
    <img src="~/imagenes/hotel/cruz.png" style="width:50px" />
</div>
<br />
<h3>No hay ningun empleado cargado..</h3>
<br />

<p>Porfavor ingrese un empleado</p> 

<hr />

<a asp-controller="Empleadoes" asp-action="Create" class="btn btn-primary">Carga un empleado</a>