@model IEnumerable<Hotel.Models.Empleado>

<h1 > Organigrama de la empresa</h1>
<br>

<table class="table">

        <thead>
            <tr>

                <td>
                    Jefe
                </td>
                <td>
                    Administración
                </td>
                <td>
                   Recepcionista
                </td>
                <td>
                    Limpieza 
                </td>
                <td>
                    Mantenimiento
                </td>
                
            </tr>
        </thead>


    


</table>

