@model IEnumerable<Hotel.Models.Empleado>

<h1 > Organigrama de la empresa</h1>
<br>

<table class="table">

    <thead>
        <tr>

            <th>
                Jefe
            </th>
            <th>
                Administración
            </th>
            <th>
                Recepcionista
            </th>
            <th>
                Limpieza
            </th>
            <th>
                Mantenimiento
            </th>

        </tr>
    </thead>
    <tbody>
       
       


    </tbody>





    </table>

