<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@
    <link href="~/lib/bootstrap/dist/css/bootstrap-lux.css" rel="stylesheet" />
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <p class="navbar-brand" asp-area="">Hotel ORT</p>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Empleadoes" asp-action="Create">Registro</a>
        </li>*@
                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Empleadoes" asp-action="Index">Empleados</a>
        </li>*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" asp-area="" asp-controller="Empleadoes" asp-action="Index">Empleados</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Empleadoes" asp-action="Index" style="font-size:13px;">Lista Empleados</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Empleadoes" asp-action="Create" style="font-size:13px;">Alta Empleado</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Telefonos" asp-action="Create" style="font-size:13px;">Gestión Telefonos</a>

                            </div>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Asistencias" asp-action="Create">Asistencia</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" asp-area="" asp-controller="Habitaciones" asp-action="Index">Habitaciones</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Habitaciones" asp-action="Index" style="font-size:13px;">Lista de Habitaciones</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Habitaciones" asp-action="Crear" style="font-size:13px;">Agregar Habitacion</a>
                                <a class="dropdown-item" asp-controller="Habitaciones" asp-action="InformarMantenimiento" style="font-size:13px;">Informar Mantenimiento</a>
                                <a class="dropdown-item" asp-controller="Habitaciones" asp-action="Alquilar" style="font-size:13px;">Alquilar</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Organigramas" asp-action="Index">Organigrama</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Grupo 1: Gastón, Franco, Sofia y Agustín.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
