@model Hotel.Models.Habitacion

@{
    ViewData["Title"] = "Agregar Habitacion";
}

@{
    List<Habitacion> h = ViewBag.habitaciones ;
}
<h1>Agregar Habitacion</h1>

<hr />

<div class="row">

    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input id="numero" asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Mantenimiento" class="control-label"></label>
                    <input asp-for="Mantenimiento" class="form-control" />
                    <span asp-validation-for="Mantenimiento" class="text-danger"></span>

                </div>*@
            <div class="form-group">
                <label asp-for="IdEmpleado" class="control-label">Empleado</label>

                <select asp-for="IdEmpleado" class="form-control" asp-items="@ViewBag.Empleados">
                    <option>Selecione un Empleado</option>
                </select>

                <span asp-validation-for="IdEmpleado" class="text-danger"></span>
            </div>
            <br />
            @*<div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <select asp-for="Estado" class="form-control">
                        <option value="false"> Limpia </option>
                        <option value="true"> Sucia </option>

                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" onclick="validarHabitacion()" />
            </div>
        </form>

    </div>



</div>
<br />
<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

<script>


    function validarHabitacion() {
        List<> ha =' @ViewBag.habitaciones';
        var num = document.getElementById('numero');
        var hab = ha;
        for(var h in hab) {
            if (h.Numero == num) {
                alert('la habitacion ya existe')
            }
        }

    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
