<h1>Oops! </h1> <div class="col-1">
    <img src="~/imagenes/hotel/cruz.png" style="width:50px" />
</div>
<br />
<h3>La habitacion que quiere agregar ya existe</h3>
<br />

<p>Porfavor ingrese una nueva</p>

<hr />

<a asp-controller="Habitaciones" asp-action="Crear" class="btn btn-primary">Agregar Habitacion</a>